*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    /*Cores*/
    --main: #d4bcaa;
    --backgroud2: #cfc8c8;
    --backgroud: #60a5f5;
    --input: #d9d9d9;
    --text: #ffffff;
    --placeholder: #b9b8b8;
    --form: #d3b8a6;

    height: 100vh;
    background-color: var(--backgroud);
}

h1{
    color: var(--text);
}

/*Início do cabeçalho superior*/

.header{
    display: flex;

    background: var(--main);
    border-bottom: 2px solid var(--text);
    width: 100%;
    height: 175px;
}

.header-filho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    margin-left: 8px;
}

.name{
    margin-left: 8px;
}

.texto1{
    font-size: 40px;
    font-weight: 300;
}

.line{
    height: 2px;
    background-color: var(--text);
}

.texto2{
    font-size: 60px;
    font-weight: 500;
}

.registro{
    margin-right: 30px;
}

.registro ul{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text);
    border-radius: 10px;
}

.imganc{
    margin-left: 10px;
}

.registro .login{
    text-decoration: none;
    color: var(--text);
    font-size: large;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    transition: 0.8s;
}

.registro .login:hover{
    transform: scale(1.06);
    color: #636161;
}

.registro li{
    list-style: none;
}

/*Fim do cabeçalho superior*/



/*Início da publi*/

.outdoor{
    display: flex;
    align-items: center;
    height: calc(100vh - 175px);
}

.outdoor h1{
    padding-left: 6%;
    padding-top: 12%;
    font-size: 60px;
    width: 50%;
}

/*Fim da publi*/

/*PARTE DO ENTRAR*/

.body-cadastro{
    background-color: var(--backgroud2);
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form);
    height: 60%;
    width: 30%;
    border: 1px solid var(--text);
    border-radius: 10px;
}

/*Início div titulo*/
.title{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.line2{
    height: 2px;
    width: 140%;
    background-color: var(--text);
}
/*Fim div titulo*/

/*Início div input*/
.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input{
    height: 32px;
    width: 150%;
    margin: 15px;
    background-color: var(--input);
    color: #636161;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    padding-left: 10px;   
}

#submit{
    height: 37px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--text);
    color: var(--backgroud2);
    font-size: 25px;
    transition: 1s;
}

#submit:hover{
    transform: scale(1.03);
    color: #636161;
}

.button-back{
    width: 30px;
    height: 30px;
}

.button2{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 92%;
    left: 1%;
    height: 45px;
    padding-top: 5px;
    width: 100px;
    transition: 1s;
}

.button2:hover{
    transform: scale(1.05);
    background-color: var(--input);
}
/*Fim div input*/


.body-entrar{
    background-color: var(--backgroud2);
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
